# nat-geo-wallpaper

[Unit]
Description=National Geographic Wallpaper Service

# To start/stop droplit-edge service manually, run:
#
# systemctl start nat-geo-wallpaper
# systemctl stop nat-geo-wallpaper

[Service]
Type=simple
ExecStart=/usr/bin/sh batch
WorkingDirectory=/home/jakef/Code/home/

User=root
Group=root

# Environment variables:
Environment=HOME=/root


# Allow many incoming connections
LimitNOFILE=infinity
# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
